.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }



/* Animation for checking/unchecking tasks */
.task-check-enter {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  
  .task-check-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .task-check-exit {
    opacity: 1;
  }
  
  .task-check-exit-active {
    opacity: 0.5;
    transform: translateY(-10px);
    transition: opacity 300ms, transform 300ms;
  }
  
  